@font-face {
  font-family: $MontserratReg;
  src: url('../../assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: $MontserratMed;
  src: url('../../assets/fonts/Montserrat-M.ttf');
  font-weight: 400;
}