footer {
  background: #ffffff;
  border-top: 1.5px solid #e5e7ea;
  padding-top: 40px;
  padding-bottom: 45px;
}

.footerLogo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  border-bottom: 1.5px solid #e5e7ea;
  padding-bottom: 50px;
}

.footer-logo__img p {
  width: 240px;
  font-family: $MontserratMed;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-link {
  font-family: $MontserratMed;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}

.footer-link:hover {
  text-decoration-line: underline;
  color: #000000;
}

span {
  font-family: $MontserratMed;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
